// Colora Palette - Festival Lovers

$white: #FFFFFF;
$black: #000000;
$black75: rgba(0,0,0,75%);
$grey: #767676;
$greyC2: #C2C2C2;
$greyE5: #E5E5E5;
$greyF0: #F0F0F0;


// HipHop Pink- Norma & Bright
$hiphop: #D81B60;
$hipHell: #E91E63;

// Jazz Yellow - Normal & Bright
$jazz: #FDD835;
$jazzHell: #FFEB3B;

// indie - Normal & Bright
$indie: #00D79F;
$indieHell: #1DE9B6;

// PopRock - Normal & Bright
$popRock: #3949AB;
$popHell: #3F51B5;

// Electronic - Normal & Bright
$elec: #5E35B1;
$elecHell: #673AB7;



$colors: (
  hiphop: #D81B60,
  indie: #00D79F,
  jazz: #FDD835,
  poprock: #3949AB
);