// Adelle Bold
@font-face  {
    src: url('../assets/fonts/Adelle_Bold.otf');
    font-family: 'Adelle_Bold';
}

// Adelle Regular
@font-face  {
    src: url('../assets/fonts/Adelle_Reg.otf');
    font-family: 'Adelle_Reg';
}

// ProximaNova Bold
@font-face  {
    src: url('../assets/fonts/ProximaNova-Bold.ttf');
    font-family: 'Proxima_Bold';
}

// ProximaNova Light
@font-face  {
    src: url('../assets/fonts/ProximaNova-Light.ttf');
    font-family: 'Proxima_Light';
}

// ProximaNova Regular
@font-face  {
    src: url('../assets/fonts/ProximaNova-Reg.ttf');
    font-family: 'Proxima_Reg';
}





